<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Ruby On Rails Application</title>
    </head>
    <body>
      <h1>About page</h1>
      <p>This is sample applications about page</p>
    </body>
</html>