<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Ruby On Rails Application</title>
    </head>
    <body>
      <h1>Home page</h1>
      <p>This is sample applications home page</p>
    </body>
</html>

